body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3a4744;
    overflow: hidden;
}

.dev-credit {
  margin: 0px;
  margin-top: 10px;
  color: #abae97;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    width: 500px;
    height: 520px;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0.23),
        rgba(155, 198, 135, 0.2)
    );
}

form {
    display: flex;
    flex-direction: column;
}

input[type="number"],
input[type="text"],
input[type="password"] {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: linear-gradient(
        23deg,
        rgba(255, 255, 255, 0.23),
        rgba(155, 198, 135, 0.2)
    );
    border: 1px solid #a9e190;
}

button {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #799d68;
    color: white;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    background-color: #45573d;
}

button:disabled {
    background-color: #5c5c5c;
    color: black;
    cursor: not-allowed;
    opacity: 0.5;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.navbar {
    background-color: #a9e190;
    color: #fff;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

#amount{
    display: flex;
    justify-content: space-between;
}

#ether-input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}